manifest {
  author = "{{author}}"
  version = "1.0.0"
  defaultBranch = "main"
  name = "{{name}}"
  description = "{{description}}"
  homePage = "https://github.com/nexomis/{{repo_name}}"
  mainScript = "main.nf"
  nextflowVersion = ">=23.10.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  out_dir = "./out_dir"
  publish_dir_mode = "link"


  // Mandatory parameters (the names should correspond to the ones given on the main workflow)
  mandatory1 = null
  mandatory2 = null

  //Default parameters
  default1 = true //boolean
  default2 = "str" //character
  default3 = 3 //integer

  // Options for external arguments
  prog_x_opts = ""

  // Options relative to prox y
  min_len = null
  min_qual = null

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  // if necessary biocontainer_registry
  // biocontainers_registry = "public.ecr.aws"
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
// includeConfig "conf/publish.config"

