manifest {
  contributors      = [
    [
      name:         'Julien FOURET',
      affiliation:  'CIRI',
      email:        'julien.fouret@univ-lyon1.fr',
      github:       '@jfouret',
      contribution: ['author', 'maintainer'],
      orcid:        '0000-0002-0740-6324'
    ],
    [
      name: 'Abdelghafar GOUMAIDI',
      contribution: ['author']
    ]
  ]
  version           = "1.2.1"
  defaultBranch     = "main"
  name              = "viral-assembly"
  description       = "Assemble viral genome and perform the associated QC. Starting from raw reads and one pre-built reference database in standard format (cf. README.md)."
  homePage          = "https://github.com/nexomis/viral-assembly"
  mainScript        = "main.nf"
  nextflowVersion   = "!>=25.04.3, <=25.05.0"
}

plugins {
    id 'nf-schema@2.5.1'
}

validation {
    help {
        enabled = true
    }
}

params {

  // Input/Output options
  out_dir                 = "./out_dir"
  save_fastp              = false
  save_clean              = false
  save_anchored           = false
  save_unclassed          = false
  save_aln                = false
  input                   = null
  ref_genomes             = null
  class_dbs               = null
  prot                    = null

  // Global worflow options
  skip_primary            = false

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)

  //Primary parameters
  num_reads_sample_qc     = 250000
  kraken2_db              = null
  tax_dir                 = "${projectDir}/modules/subworkflows/primary/taxdump_26092024"

  // Options for Cutadapt (replaces fastp options)
  enforce_nextseq_trim  = true
  min_qual = 28
  min_len = 31 // Default for cutadapt's -m
  adapter_r1 = "" // Default R1 adapter for cutadapt
  adapter_r2 = "" // Default R2 adapter for cutadapt

  // kraken2 options

  // abacas options
  abacas_MUMmer_program   = 'nucmer'
  args_spades             = ""

  // hannot
  miniprot_opts           = "-k 3 -L 5 -O 5 -n 1 -N 1000 -l 3 -E 0 -J 5 -F 8 -B 5 --outs 0.1 --outn 5"

  // bowtie2 mapping options
  args_bowtie2            = "--end-to-end"

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low               = 4
  ncpus_med               = 8
  ncpus_high              = 16
  mem_low                 = 15
  mem_med                 = 30
  mem_high                = 120
  spades_memory           = 28
  kraken2_memory          = 10
  kraken2_cpus            = 4

  biocontainers_registry  = "quay.io"
  
}

outputDir = "${params.out_dir}"

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"
includeConfig "conf/ressources.config"