manifest {
  author = "Abdelghafar Goumaidi, Julien Fouret"
  version = "1.0.0"
  defaultBranch = "main"
  name = "viral-assembly"
  description = "Assemble viral genome and perform the associated QC. Starting from raw reads and one pre-built reference database in standard format (cf. README.md)."
  homePage = "https://github.com/nexomis/viral-assembly"
  mainScript = "main.nf"
  nextflowVersion = ">=24.04.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  out_dir = "./out_dir"
  publish_dir_mode = "link"
  save_fastp = false
  save_aln = false
  input = null
  ref_genomes = null
  class_dbs = null

  // Global worflow options
  //biocontainers_registry = 'quay.io'
  skip_primary = false

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)

  //Primary parameters
  num_reads_sample_qc = 250000
  kraken2_db = null

  // fastp options

  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25

  // kraken2 options

  // abacas options
  abacas_MUMmer_program = 'nucmer'
  args_spades = ""

  // bowtie2 mapping options
  args_bowtie2 = "--end-to-end"

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  mem_low = 15
  mem_med = 30
  mem_high = 120
  spades_memory = 28
  kraken2_memory = 10
  kraken2_cpus = 4

  biocontainers_registry = "quay.io"
  
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"
includeConfig "conf/ressources.config"