
process {
    withName: "CUTADAPT" {
      ext.args = "${params.enforce_nextseq_trim ? '--nextseq-trim' : '-q'} $params.min_qual -m ${params.min_len}${params.adapter_r1 != '' ? ' -a ' + params.adapter_r1 : ''}${params.adapter_r2 != '' ? ' -a ' + params.adapter_r2 : ''}"
    }
}

process {
  withName: "MINIPROT" {
    ext.args = params.miniprot_opts
  }
}

process {
    withName: "ABACAS" {
      ext.args = "${params.abacas_MUMmer_program ? '-p' + params.abacas_MUMmer_program : ''}"
    }
}

process {
  withName: "KRAKEN2_HOST.*" {
    ext.add_unclassified = "yes"
  }
}

process {
    withName: "BOWTIE2_BUILD" {
      ext.args = "--seed 0"
    }
}

process {
    withName: "BT2" {
      ext.args = "${params.args_bowtie2}"
    }
}

process {
    withName: "BT2_REF" {
      ext.args = "${params.args_bowtie2}"
    }
}

process {
    withName: "BT2_ANCHOR" {
      ext.args = "--very-sensitive-local"
    }
}

process {
    withName: "SPADES" {
      ext.args = "${params.args_spades}"
    }
}
